{% block metadato_collection_widget %}
    {% spaceless %}

        <a id="add-metadato" href="#" title="Añadir un nuevo metadato"
           class="btn btn-default btn-primary btn-sm action-btn add-list-item">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>


        <div class='row'>
            <div class='col-sm-12'>
                <ul id="iten_list_{{ name }}_collection"
                    data-prototype="{{ _self.metadato_collection_fields(form)|escape }}">

                    {% for field in form.children %}
                        <li>
                            {{ _self.metadato_collection_fields(field) }}
                        </li>
                        {#{% else %}#}
                        {#<li>{{ 'sin resultados'|trans }}</li>#}
                    {% endfor %}


                </ul>
            </div>
        </div>


    {% endspaceless %}
{% endblock metadato_collection_widget %}


{% macro metadato_collection_fields(widget) %}
    {% if 'prototype' in widget.vars|keys %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}


    <fieldset>
        <legend>Formulario</legend>

        {{ form_row(form.orden) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.requerido) }}
    </fieldset>

    <div class='row'>
        <div class='col-sm-6'>
            <fieldset>
                <legend>Valores</legend>
                {{ form_row(form.listaValores) }}
                {{ form_row(form.predeterminado) }}
            </fieldset>
        </div>
        <div class='col-sm-6'>
            <fieldset>
                <legend>Filtrable</legend>
                {{ form_row(form.filtrable) }}
            </fieldset>
        </div>
    </div>

    {{ form_widget(form) }}

    <div class="btn-group">
        <a data-message="Are you sure you want to delete this column?" data-collection-action="delete"
           title="Delete column" class="btn btn-default btn-xs remove-list-item"
           href="javascript: void(0);">
            <i class="glyphicon glyphicon-trash"></i>
        </a>

        <span title="Move column" class="dragHandle">
        <i class="glyphicon glyphicon-list"></i>
        </span>
    </div>

{% endmacro %}

{#
*****************************************************************
#}
