{% block metadato_collection_widget %}
    {% spaceless %}

        <a id="add-metadato" href="#" title="Añadir un nuevo metadato"
           class="btn btn-default btn-primary btn-sm action-btn add-list-item">
            <span class="glyphicon glyphicon-plus-sign"></span>
        </a>

        <div class='row'>
            <div class='col-sm-12'>
                <ul id="iten_list_{{ name }}_collection"
                    data-prototype="{{ _self.metadato_collection_fields(form, false)|escape }}">

                    {% for field in form.children %}
                        <li>
                            {{ _self.metadato_collection_fields(field) }}
                        </li>
                    {% endfor %}


                </ul>
            </div>
        </div>


    {% endspaceless %}
{% endblock metadato_collection_widget %}


{% macro metadato_collection_fields(widget, collapsed = true ) %}
    {% if 'prototype' in widget.vars|keys %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="zero-clipboard">
        <a data-message="Are you sure you want to delete this column?" data-collection-action="delete"
           title="Delete column"
           class="btn btn-default btn-xs remove-list-item btn-clipboard"
           href="javascript: void(0);">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>


    <div class="row ">
        <div class="col-md-4">
            <fieldset class="coolfieldset">
                <legend class="collection-collapsed"><span class="collapsible-indicator {{  collapsed == true ? "glyphicon glyphicon-plus" : "glyphicon glyphicon-minus" }}"></span>Formulario</legend>
                {{ form_row(form.nombre) }}
                <div class="collapsible" style="{{  collapsed == true ? "display: none;" : "display: block;" }}">
                    {{ form_row(form.orden) }}
                    {{ form_row(form.requerido) }}
                </div>
            </fieldset>
        </div>

        <div class="col-md-8">
            <fieldset class="coolfieldset">
                <legend class="collection-collapsed"><span class="collapsible-indicator {{  collapsed == true ? "glyphicon glyphicon-plus" : "glyphicon glyphicon-minus" }}"></span>Filtrable</legend>
                <div class="collapsible" style="{{  collapsed == true ? "display: none;" : "display: block;" }}">
                    {{ form_row(form.filtrable) }}
                </div>
            </fieldset>
            <fieldset class="coolfieldset">
                <legend class="collection-collapsed"><span class="collapsible-indicator {{  collapsed == true ? "glyphicon glyphicon-plus" : "glyphicon glyphicon-minus" }} "></span>Valores</legend>
                <div class="collapsible" style="{{  collapsed == true ? "display: none;" : "display: block;" }}">
                    {{ form_row(form.listaValores) }}
                    {{ form_row(form.predeterminado) }}
                </div>
            </fieldset>
        </div>

    </div>

    {{ form_widget(form) }}
{% endmacro %}


