{% block compra_items_collection_widget %}
    {% spaceless %}
        <div class='pull-right'>
            <a title="Añadir un nuevo Item" href="#" data-toggle="modal"
               class="btn btn-default btn-primary btn-sm action-btn add-list-item">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>

        <div class='row'>
            <div class='col-sm-12'>
                <ul id="iten_list_{{ name }}_collection"
                    data-prototype="{{ _self.compra_item_collection_fields(form)|escape }}">
                    <li>
                        <div class="row ">
                            <div class="col-md-8">
                                <span class="item-codigo">Codigo</span>
                                <span class="item-nombre">Nombre</span>
                            </div>
                            <div class="col-md-4">
                                <span class="item-cantidad">Cantidad</span>
                            </div>
                        </div>
                    </li>

                    {% for field in form.children %}
                        <li>
                            {{ _self.compra_item_collection_fields(field) }}
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        {% macro compra_item_collection_fields(widget ) %}
            {% if 'prototype' in widget.vars|keys %}
                {% set form = widget.vars.prototype %}
                {% set name = widget.vars.prototype.vars.name %}
            {% else %}
                {% set form = widget %}
                {% set name = widget.vars.full_name %}
            {% endif %}

            <div class="zero-clipboard">
                <a data-message="Are you sure you want to delete this column?" data-collection-action="delete"
                   title="Delete column"
                   class="btn btn-default btn-xs remove-list-item btn-clipboard"
                   href="javascript: void(0);">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </div>


            <div class="row ">
                <div class="col-md-8">
                    <span style="display:none" class="produto-id">
                    {{ form_widget(form.id) }}
                    </span>
                    <span class="item-codigo">__codigo__</span>
                    <span class="item-nombre">__nombre__</span>
                </div>
                <div class="col-md-4">
                    {{ form_widget(form.cantidad) }}
                </div>
            </div>

            {{ form_widget(form) }}
        {% endmacro %}

        <script type="text/javascript">

        </script>
    {% endspaceless %}
{% endblock compra_items_collection_widget %}