{% block compra_items_collection_widget %}
    {% spaceless %}
        <div class='pull-right'>
            <a title="Añadir un nuevo Item" href="#{{ name }}_modal" data-toggle="modal"
               class="btn btn-default btn-primary btn-sm action-btn add-list-item">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </a>
        </div>

        <div class='row'>
            <div class='col-sm-12'>
                <ul id="iten_list_{{ name }}_collection"
                    data-prototype="">
                    {% for field in form.children %}
                        <li>
                            {#{{ _self.metadato_collection_fields(field) }}#}
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>

        <div class="modal modal-styled fade in" id="{{ name }}_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Seleccionar Producto</h4>
                    </div>
                    <div class="modal-body">
                        <div class="filtro">

                        </div>
                        <div class="listado">

                        </div>
                        <div class="paginador">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            jQuery(document).ready(function () {
                $(document).on('click', '.add-list-item', function (e) {
                    e.preventDefault();
                    $.ajax({
                        type: "GET",
                        url: "{{ path('producto_ajax_list') }}",
                        success: function (msg) {
                            $('.modal-body').html(msg);
                        },
                        error: function (msg) {
                        }
                    });
                });
                $(document).on("click",".pagination span a", function(e){
                    e.preventDefault();
                    alert('a');
//                    $("#modal-body").html("Cagando comentarios...");
//                    $.get($(this).attr("href"), function(data) {
//                        $('#modal-body').html(data);
//                    });
//                    return false;
                });
            });

        </script>
    {% endspaceless %}
{% endblock compra_items_collection_widget %}