{% block app_datetime_widget %}
    {% set actual_id = id %}
    {% set selector_name = 'datetime_selector_' ~ id %}
    {% set selector_id = selector_name %}

    {# Actual date field that uses ISO format #}
    <span style="display:none">{{ block('datetime_widget') }}</span>
    {#<span style="">{{ block('datetime_widget') }}</span>#}

    {# Visible fake datetimepicker field that uses localized format #}
    {% set id = selector_id %}
    {% set full_name = selector_name %}
    <input type="text" {{ block('widget_attributes') }} class="form-control" style="width: auto;"/>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var actual = $("#{{ actual_id }}");
            var selector = $("#{{ selector_id }}");
            var now = moment();
            var sync = function () {
                selector.val(actual.val());
            };
            actual.on('change', sync);
            if (actual.val() && actual.val().length) {
                sync();
            };
            selector.datepicker({
                format: "dd-MM-yyyy",
                todayBtn: true,
                autoclose: true,
                language: "es",
                yearRange: '-80:+1',
                todayHighlight: true
            }).on('changeDate', function (ev) {
                selector.datepicker('hide');
                var selectorValue = selector.val();
                actual.val(selectorValue);

            });
        });

    </script>
{% endblock app_datetime_widget %}