{% block app_datetime_widget %}
    {% set actual_id = id %}
    {% set selector_name = 'datetime_selector_' ~ id %}
    {% set selector_id = selector_name %}

    {# Actual date field that uses ISO format #}
    <span style="display:none">{{ block('datetime_widget') }}</span>

    {# Visible fake datetimepicker field that uses localized format #}
    {% set id = selector_id %}
    {% set full_name = selector_name %}
    <input type="text" {{ block('widget_attributes') }} class="form-control" style="width: auto;"/>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var actual = $("#{{ actual_id }}");
            var selector = $("#{{ selector_id }}");
            $.fn.datepicker.defaults.format = "dd/mm/yyyy";
            selector.datepicker({
                altField: '#{{ actual_id }}',
                altFormat: 'yy-mm-dd',
                altTimeFormat: 'HH:mm:ssz',
                altFieldTimeOnly: false,
                altSeparator: 'T',
                changeMonth: true,
                changeYear: true,
                yearRange: '-80:+1',
                showButtonPanel: true,
                autoclose: true,
                todayBtn: true,
                onSelect: function () {
                    selector.trigger('change');
                }
            })
                    .on('changeDate', function (ev) {
                        selector.datepicker('hide');
                        var selectorValue = selector.val();
                        actual.val(selectorValue);
                    });
        });


    </script>
{% endblock app_datetime_widget %}