<section class="slider">
    <div class="container">
        <div id="main-carrusel-{{ contenido.id }}" class="carousel slide" data-ride="carousel" data-interval="2000" >
            <!-- Indicators -->
            <ol class="carousel-indicators">
                {% for detalle in contenido.contenidoDetalle %}
                    <li data-target="#main-carrusel-{{ contenido.id }}" data-slide-to="{{ loop.index0 }}"
                        class="{{ loop.index0 == 0 ? 'active' :'' }}"></li>
                {% endfor %}
            </ol>

            <div class="carousel-inner" role="listbox">
                {% for detalle in contenido.contenidoDetalle %}
                    <div class="item {{ loop.index0 == 0 ? 'active' : "" }}">
                        <img src="{{ asset("uploads/banners/" ~ detalle.imagen) }}" alt="..." class="img-responsive"/>
                    </div>
                {% endfor %}
            </div>

            {#<!-- Controls Starts -->#}
            <a class="left carousel-control" href="#main-carrusel-{{ contenido.id }}" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>

            <a class="right carousel-control" href="#main-carrusel-{{ contenido.id }}" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
            {#<!-- Controls Ends -->#}
        </div>
    </div>
</section>

