<h2 class="main-heading text-center"> Ingresar o crear una nueva cuenta </h2>

<section class="login-area" style="margin-bottom: 35px;">
    <div class="row">
        <div class="col-sm-6">
            <!-- Login Panel Starts -->
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">Ingresar</h3>
                </div>
                <div class="panel-body">

                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <p>
                        Por favor, iniciar sesión, su cuenta debe existir
                    </p>
                    <!-- Login Form Starts -->
                    <form role="form" class="form-inline" method="POST" action="{{ path('fos_user_security_check') }}" >
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                        {#<input type="hidden" name="_target_path" value="/" />#}

                        <div class="form-group">
                            <label for="login-username" class="sr-only">Usuario</label>
                            <input type="text" class="form-control" id="login-username" placeholder="Usuario" tabindex="1" name="_username" value="{{ last_username }}" required>
                        </div> <!-- /.form-group -->

                        <div class="form-group">
                            <label for="login-password" class="sr-only">Clave</label>
                            <input type="password" class="form-control" id="login-password" placeholder="Clave" tabindex="2" name="_password" required>
                        </div> <!-- /.form-group -->

                        <button class="btn btn-warning" type="submit" id="_submit" name="_submit">
                            Ingresar
                        </button>

                        <div class="form-group clearfix">
                            <small><a href="{{ path('fos_user_resetting_request') }}">Perdio su clave?</a></small>
                        </div> <!-- /.form-group -->
                    </form>
                    <!-- Login Form Ends -->
                </div>
            </div>
            <!-- Login Panel Ends -->
        </div>


        <div class="col-sm-6">
            <!-- Account Panel Starts -->
            <div class="panel panel-smart">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Crear una nueva cuenta
                    </h3>
                </div>
                <div class="panel-body">
                    <p>
                        Registro le permite evitar el llenado de formularios de facturación y envío cada vez que usted pago y envío
                        en este sitio web
                    </p>
                    <a class="btn btn-warning" href="{{ path('fos_user_registration_register') }}">
                        Registrarse
                    </a>
                </div>
            </div>
            <!-- Account Panel Ends -->
        </div>
    </div>
</section>