{% if ('delete' in actions) and ('edit' in actions) and (not hide_delete) and ( not hide_edit) %}
    <div class="col-md-1 ">
        <div class="pull-right">
            {{ '{{ form(delete_form) }}' }}
        </div>
    </div>
    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}"
       class="btn btn-sm btn-default">
        Editar
    </a>

{% endif %}

{% if ('delete' in actions) and (not hide_delete) and ( hide_edit) %}
    <div class="col-md-2 ">
        <div class="pull-right">
            {{ '{{ form(delete_form) }}' }}
        </div>
    </div>
{% endif %}

{% if ('edit' in actions) and (not hide_edit) and hide_delete %}

    <a href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': entity.id }) }}" }}"
       class="btn btn-sm btn-default">
        Editar
    </a>

{% endif %}


<a href="{{ "{{ path('" ~ route_name_prefix ~ "') }}" }}" class="btn btn-sm btn-default">
    Ir a la lista
</a>


