{% block my_collection_widget %}
    {% spaceless %}

        <a id="add-new" href="#" title="Añadir"
           class="btn btn-default btn-secondary btn-sm action-btn add-list-item">
            <span class="glyphicon glyphicon-plus"></span>
        </a>

        <div class='row'>
            <div class='col-sm-12'>
                <ul id="item_list_{{ name }}_collection"
                    data-prototype="{{ _self.carrusel_collection_fields(form, false)|escape }}">

                    {% for field in form.children %}
                        <li>
                           {{ _self.carrusel_collection_fields(field) }}
                        </li>
                    {% endfor %}


                </ul>
            </div>
        </div>


    {% endspaceless %}
{% endblock my_collection_widget %}


{% macro carrusel_collection_fields(widget, collapsed = false ) %}
    {% if 'prototype' in widget.vars|keys %}
        {% set form = widget.vars.prototype %}
        {% set name = widget.vars.prototype.vars.name %}
    {% else %}
        {% set form = widget %}
        {% set name = widget.vars.full_name %}
    {% endif %}

    <div class="zero-clipboard">
        <a data-message="Esta seguro de borrar este registro?" data-collection-action="delete"
           title="Delete"
           class="btn btn-default btn-xs remove-list-item btn-clipboard"
           href="javascript: void(0);">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

    <div class="row ">
        <div class="col-md-12">
            <fieldset class="coolfieldset">
                <legend class="collection-collapsed">
                    {#<span class="collapsible-indicator {{  collapsed == true ? "glyphicon glyphicon-plus" : "glyphicon glyphicon-minus" }}"></span>Elemento#}
                </legend>
                {{ form_row(form.imagen) }}
                <div class="collapsible" style="{{  collapsed == true ? "display: none;" : "display: block;" }}">
                    {{ form_row(form.link) }}
                </div>
            </fieldset>
        </div>

    </div>

    {{ form_widget(form) }}
{% endmacro %}


