    {% extends 'AppBundle:admin:layout.html.twig' %}

{% block id 'Contenido' %} 

    {% block contenido -%}
    {% embed '::portlet.html.twig' with {'titulo': 'Lista de Contenido <small>(' ~ pager.totalItemCount ~ ' )</small>' } %}  
        {% block in_header %} 
    <div class='pull-right'>

            <a href="{{ path('contenido_new') }}" class="button_nuevo btn btn-sm btn-primary">

        {{'Nuevo Contenido'|trans }}

        </a>

        </div>

        {% endblock %}

        {% block cuerpo %} 
            {% for type, flashMessages in app.session.flashbag.all() %} 
                {% for flashMessage in flashMessages %} 
                    <div class='alert alert-{{ type }}'> 
                        {{ flashMessage }} 
                    </div> 
                {% endfor %} 
            {% endfor %}

    <form method='post' action='' class='form-horizontal'>
                    {% embed 'modal.html.twig' with { 'modal_id': 'filters', 'modal_titulo': 'Filtro de Contenidos'} %} 
                        {% block modal_contenido %} 
                            {{ form_rest(filterform) }} 
                        {% endblock %} 

                        {% block modal_botones %} 

        <input type='submit' class='btn btn-success' name='submit-filter' value='Aplicar'/>

        <input type='submit' class='btn btn-primary' name='submit-filter' value="reset"/>

                        {% endblock modal_botones %} 
                    {% endembed %} 
    </form>


    <div class="row">
        <div class="col-lg-10">
        </div>
        <div class="col-lg-2">
            <div class="pull-right">
                <a class='btn bg-success btn-xs dropdown-toggle' data-toggle='modal' data-target='#filters'>
                    Filtro
                    <span class='caret'></span>
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered  table-responsive">
        <thead>
        <tr>
            <th class="{{ pager.isSorted('id') ? 'headerSortDown glyphicon-sort-by-attributes': 'headerSortUp' }}"> {{'id '|trans | capitalize  }} </th>
            <th class="{{ pager.isSorted('nombre') ? 'headerSortDown glyphicon-sort-by-attributes': 'headerSortUp' }}"> {{'nombre '|trans | capitalize  }} </th>
            <th class="{{ pager.isSorted('ubicacion') ? 'headerSortDown glyphicon-sort-by-attributes': 'headerSortUp' }}"> {{'ubicacion '|trans | capitalize  }} </th>
            <th class="{{ pager.isSorted('orden') ? 'headerSortDown glyphicon-sort-by-attributes': 'headerSortUp' }}"> {{'orden '|trans | capitalize  }} </th>
            <th class="{{ pager.isSorted('tipo') ? 'headerSortDown glyphicon-sort-by-attributes': 'headerSortUp' }}"> {{'tipo '|trans | capitalize  }} </th>
            <th class="{{ pager.isSorted('activo') ? 'headerSortDown glyphicon-sort-by-attributes': 'headerSortUp' }}"> {{'activo '|trans | capitalize  }} </th>
            <th class="actions">{{'Acciones'|trans }}</th>

        </tr>
        </thead>
        <tbody>
        {% for entity in pager %}
        <tr>
                    <td><a href="{{ path('contenido_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.ubicacionString(entity.nombre) }}</td>
                    <td>{{ entity.ubicacionString(entity.ubicacion) }}</td>
                    <td>{{ entity.orden }}</td>
                    <td>{{ entity.tipoString(entity.tipo) }}</td>
                    <td class="text-center">{{ entity.activo? '<span class="label label-secondary">Si</span>' : '<span class="label label-default">No</span>'  }}</td>                    <td class="actions">
<div class="btn-group">
    <a href="{{ path('contenido_show', { 'id': entity.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Ver mas información" >
        <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    <a href="{{ path('contenido_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-default" data-toggle="tooltip" data-placement="top" title="Editar los datos" >
        <span class="glyphicon glyphicon-edit"></span>
        </a>
</div>
                    </td>
        </tr>
        {% else %}
        <tr >
            <td class="last-row" colspan="100" style="text-align: center;">{{'sin resultados'|trans }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="row">
        <div class="col-lg-10">
            {{ knp_pagination_render(pager) }}

        </div>
                    <div class="col-lg-2">

            </div>
            </div>

         {% endblock %} 
     {% endembed %} 

    {% endblock contenido %}
