{% extends 'AppBundle:admin:layout.html.twig' %}
{% form_theme form _self %}

{#{% block _appbundle_contenido_contenidoDetalle_entry_widget %}#}
    {#<tr>#}
        {#<td>1 {{ form_widget(form.orden) }}</td>#}
        {#<td>2 {{ form_widget(form.imagen) }}</td>#}
        {#<td>3 {{ form_widget(form.link) }}</td>#}


    {#</tr>#}
{#{% endblock %}#}

    {% block id 'Contenido' %}
        {% block contenido -%}
            {% embed '::portlet.html.twig' with {'titulo': 'Nuevo Contenido' } %}
                {% block in_header %}
                    <div class='pull-right'>
                        <div class="row">


                            <a href="{{ path('contenido') }}" class="btn btn-sm btn-default">
                                Ir a la lista
                            </a>


                        </div>
                    </div>
                {% endblock %}

                {% block cuerpo %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class='alert alert-{{ type }}'>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <p></p>

                    {{ form_start(form) }}
                        {{ form_row(form.nombre) }}
                        {{ form_row(form.ubicacion) }}
                        {{ form_row(form.orden) }}
                        {{ form_row(form.tipo) }}

                    <h4>Detalle</h4>
                    <ul class="detalle" data-prototype="{{ form_widget(form.contenidoDetalle.vars.prototype)|e }}">
                        {% for detalle in form.contenidoDetalle%}
                            <li>
                                {{ form_widget(detalle) }}
                                {{ form_row(detalle.imagen) }}
                                {{ form_row(detalle.link) }}


                            </li>
                        {% endfor %}
                    </ul>


                    {{ form_widget(form) }}
                    <div class="col-sm-offset-2 inner-actions">
                        <button title="Guardar y Nuevo" class="form-submit-button btn btn-sm btn-default btn-primary"
                                value="save_and_add" name="save_mode" type="submit">Guardar <span
                                    class="glyphicon glyphicon-ok"></span></button>
                        <button title="Guardar" class="form-submit-button btn btn-sm btn-default btn-secondary"
                                value="save_and_close" name="save_mode" type="submit">Guardar y Salir <span
                                    class="glyphicon glyphicon-remove"></span></button>
                        <a class="page-close-button btn btn-sm btn-default" href="{{ path('contenido') }}">Cerrar <span
                                    class="glyphicon glyphicon-remove"></span></a>
                    </div>

                    {{ form_end(form) }}




                {% endblock %}
            {% endembed %}

        {% endblock contenido %}

        {% block javascript_footer %}
            {{ include('@App/admin/Contenido/js.html.twig',{'form': form}) }}
            <script>

                var $collectionHolder;
                // Agregar el link "Agreagr Elemento"
                var $addDetalleLink = $('<a href="#" class="add_detalle_link">Agreagr Elemento</a>');
                var $newLinkLi = $('<li></li>').append($addDetalleLink);

                jQuery(document).ready(function() {
                    // obtener el ul que contiene al detalle
                    $collectionHolder = $('ul.detalle');

                    $collectionHolder.find('li').each(function() {
                        addDetalleFormDeleteLink($(this));
                    });


                    // add the "add a tag" anchor and li to the tags ul
                    $collectionHolder.append($newLinkLi);
                    // contar la cantidad de elementos que hay
                    // guardarlo en index
                    $cantidad = $collectionHolder.find('li').length;

                    $collectionHolder.data('index', $cantidad );

                    $addDetalleLink.on('click', function(e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // add a new tag form (see next code block)
                        addDetalleForm($collectionHolder, $newLinkLi);
                    });

                });

                function addDetalleForm($collectionHolder, $newLinkLi) {
                    // Obtener el prototipo de detalle
                    var prototype = $collectionHolder.data('prototype');
                    //Obtener la cantiad de elementos que hay en la actualidad
                    var index = $collectionHolder.data('index');

                    // Reemplazar'__name__' en el prototipo por numero de elemento
                    // que tiene
                    var newForm = prototype.replace(/__name__/g, index);
                    //Incrementar los elementos
                    $collectionHolder.data('index', index + 1);

                    //mostrar el formulario en un li, antes del "Agregar Elemento"
                    var $newFormLi = $('<li></li>').append(newForm);
                    $newLinkLi.before($newFormLi);
                    addDetalleFormDeleteLink($newFormLi);

                }

                function addDetalleFormDeleteLink($detalleFormLi) {
                    var $removeFormA = $('<a href="#">Quitar</a>');
                    $detalleFormLi.append($removeFormA);

                    $removeFormA.on('click', function(e) {
                        // prevent the link from creating a "#" on the URL
                        e.preventDefault();

                        // remove the li for the tag form
                        $detalleFormLi.remove();
                    });
                }

            </script>

        {% endblock %}