{% extends 'AppBundle:admin:layout.html.twig' %}

    {% block contenido -%}
    {% embed '::portlet.html.twig' with {'titulo': 'Ver Contenido: ' ~ entity} %}
        {% block in_header %} 
        <div class='pull-right'>
        <div class="row">
                <div class="col-md-1 ">
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
    </div>
    <a href="{{ path('contenido_edit', { 'id': entity.id }) }}"
       class="btn btn-sm btn-default">
        Editar
    </a>





<a href="{{ path('contenido') }}" class="btn btn-sm btn-default">
    Ir a la lista
</a>


        </div>
    </div>
        {% endblock %}
            {% block cuerpo %} 
    <p></p>

    <table class="table">
        <tbody>
            <tr>
                <th class="show-header">Id</th>
                    <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th class="show-header">Ubicacion</th>
                    <td>{{ entity.ubicacion }}</td>
            </tr>
            <tr>
                <th class="show-header">Orden</th>
                    <td>{{ entity.orden }}</td>
            </tr>
            <tr>
                <th class="show-header">Tipo</th>
                    <td>{{ entity.tipo }}</td>
            </tr>
            <tr>
                <th class="show-header">Contenido</th>
                    <td>{{ entity.contenido }}</td>
            </tr>
            <tr>
                <th class="show-header">Links</th>
                    <td>{{ entity.links }}</td>
            </tr>
            <tr>
                <th class="show-header">Activo</th>
                    <td>{{ entity.activo? '<span class="label label-success">Si</span>' : '<span class="label label-default">No</span>'  }}</td>
            </tr>
        </tbody>
    </table>


    {% endblock %} 
    {% endembed %} 
    {% endblock contenido %}
