{% set usuario = app.user %}
<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>
    <title>Cabañas Wanfried !!</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="RBSoft">


    <!-- Google Web Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700"
          rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'>

    {##-- Bootstrap CSS --##}
    <link href='{{ asset("bundles/app/css/frontend/bootstrap.min.css") }}' rel='stylesheet' type='text/css'>
    {##-- Font Awesome CSS --##}
    <link href='{{ asset("bundles/app/css/admin/font-awesome.min.css") }}' rel='stylesheet' type='text/css'>

    {# se coloca temporalmente #}
    <link rel="stylesheet" href="{{ asset( 'admin/admin.css') }}">

    {% stylesheets '@stylesheets_frontend' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}


    {#<script src="{{ asset("bundles/app/js/modernizr.js") }}"></script>#}

    <script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>window.jQuery || document.write('{{ asset("bundles/app/js/libs/jquery-2.1.3.min.js") }}')</script>

    <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- Limitar IE anteriores -->
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0"
                 height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <![endif]-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


    {% javascripts '@javascripts_header' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


</head>

<body class="{% block id '' %} ">

<!-- Header Section Starts -->
<header id="header-area">
<!-- Header Top Starts -->
{% block navbar %}
    {#{% include 'includes/navbar.html.twig' %}#}
    <div class="header-top">
        <div class="container">
            <!-- Header Links Starts -->
            <div class="col-sm-8 col-xs-12">
                <div class="header-links">
                    <ul class="nav navbar-nav pull-left">
                        <li>
                            <a href="{{ path("homepage") }}">
                                <i class="fa fa-home" title="Home"></i>
											<span class="hidden-sm hidden-xs">
												Home
											</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-heart" title="Wish List"></i>
											<span class="hidden-sm hidden-xs">
												Wish List(0)
											</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("cartdisplay") }}">
                                <i class="fa fa-shopping-cart" title="{{ "Carro de Reposicion" | trans }}"></i>
											<span class="hidden-sm hidden-xs">
												{{ "Carro de Reposicion" | trans }}
											</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-crosshairs" title="Checkout"></i>
											<span class="hidden-sm hidden-xs">
												Checkout
											</span>
                            </a>
                        </li>

                        {#Verfifica si esta logeado en el sistema y quita register y avilita profile#}
                        {% if not app.user %}
                        <li>
                            <a href="{{ path('fos_user_registration_register') }}">
                                <i class="fa fa-unlock" title="Register"></i>
											<span class="hidden-sm hidden-xs">
												Register
											</span>
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="fa fa-user" title="My Account"></i>
											<span class="hidden-sm hidden-xs">
												Perfil
											</span>
                            </a>
                        </li>
                        {% endif %}

                        <li>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <a href="{{ path('fos_user_security_logout') }}">
                                    <i class="fa fa-sign-out" title="salir"></i>
                                    <span class="hidden-sm hidden-xs"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</span>
                                </a>
                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-lock" title="Ingresar"></i><span class="hidden-sm hidden-xs"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span></a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Header Links Ends -->
            <!-- Currency & Languages Starts -->
            <div class="col-sm-4 col-xs-12">
                <div class="pull-right">
                    <!-- Currency Starts -->
                    <div class="btn-group">
                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            Currency
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="pull-right dropdown-menu">
                            <li><a tabindex="-1" href="#">Pound </a></li>
                            <li><a tabindex="-1" href="#">US Dollar</a></li>
                            <li><a tabindex="-1" href="#">Euro</a></li>
                        </ul>
                    </div>
                    <!-- Currency Ends -->
                    <!-- Languages Starts -->
                    <div class="btn-group">
                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            Language
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="pull-right dropdown-menu">
                            <li>
                                <a tabindex="-1" href="#">English</a>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">French</a>
                            </li>
                        </ul>
                    </div>
                    <!-- Languages Ends -->
                </div>
            </div>
            <!-- Currency & Languages Ends -->
        </div>
    </div>
{% endblock %}
<!-- Header Top Ends -->
<!-- Starts -->
{% block topbar %}

    <div class="container">
        <!-- Main Header Starts -->
        <div class="main-header">
            <div class="row">
                <!-- Logo Starts -->
                <div class="col-md-6">
                    <div id="logo">
                        <a href="{{ path("homepage") }}"><img src="{{ asset("images/wnfried_logo_frontend.png") }}"
                                                  title="Cabañas Banfried" alt="Cabañas Banfried" class="img-responsive"/></a>
                    </div>
                </div>
                <!-- Logo Starts -->
                <!-- Search Starts -->
                <div class="col-md-3">
                    <div id="search">
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" placeholder="Search">
								  <span class="input-group-btn">
									<button class="btn btn-lg" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
								  </span>
                        </div>
                    </div>
                </div>
                <!-- Search Ends -->
                <!-- Shopping Cart Starts -->
                <div class="col-md-3">
                    <div id="cart" class="btn-group btn-block">
                        {{ render(path("cartdisplay",{'size': 'small'})) }}
                    </div>
                </div>
                <!-- Shopping Cart Ends -->
            </div>
        </div>
        <!-- Main Header Ends -->
        {#<!-- Main Menu Starts -->#}


        {{ render(controller("AppBundle:frontend/Default:menufrontend")) }}


        {#<!-- Main Menu Ends -->#}
    </div>
    <!-- Ends -->
{% endblock %}
</header>
<!-- Header Section Ends -->

{% block pre_body %}{% endblock pre_body %}

{% block body %}


{% endblock body %}

{#<!-- Footer Section Starts -->#}
<footer id="footer-area">
    {#<!-- Footer Links Starts -->#}
    <div class="footer-links">
        {#<!-- Container Starts -->#}
        <div class="container">
            {#<!-- Information Links Starts -->#}
            <div class="col-md-2 col-sm-6">
                <h5>Information</h5>
                <ul>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="#">Delivery Information</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            {#<!-- Information Links Ends -->#}
            {#<!-- My Account Links Starts -->#}
            <div class="col-md-2 col-sm-6">
                <h5>My Account</h5>
                <ul>
                    <li><a href="#">My orders</a></li>
                    <li><a href="#">My merchandise returns</a></li>
                    <li><a href="#">My credit slips</a></li>
                    <li><a href="#">My addresses</a></li>
                    <li><a href="#">My personal info</a></li>
                </ul>
            </div>
            {#<!-- My Account Links Ends -->#}
            {#<!-- Customer Service Links Starts -->#}
            <div class="col-md-2 col-sm-6">
                <h5>Service</h5>
                <ul>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="#">Returns</a></li>
                    <li><a href="#">Site Map</a></li>
                    <li><a href="#">Affiliates</a></li>
                    <li><a href="#">Specials</a></li>
                </ul>
            </div>
            {#<!-- Customer Service Links Ends -->#}
            {#<!-- Follow Us Links Starts -->#}
            <div class="col-md-2 col-sm-6">
                <h5>Follow Us</h5>
                <ul>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">RSS</a></li>
                    <li><a href="#">YouTube</a></li>
                </ul>
            </div>
            {#<!-- Follow Us Links Ends -->#}
            {#<!-- Contact Us Starts -->#}
            <div class="col-md-4 col-sm-12 last">
                <h5>Contact Us</h5>
                <ul>
                    <li>My Company</li>
                    <li>
                        1247 LB Nagar Road, Hyderabad, Telangana - 35
                    </li>
                    <li>
                        Email: <a href="#">info@demolink.com</a>
                    </li>
                </ul>
                <h4 class="lead">
                    Tel: <span>1(234) 567-9842</span>
                </h4>
            </div>
            {#<!-- Contact Us Ends -->#}
        </div>
        {#<!-- Container Ends -->#}
    </div>
    {#<!-- Footer Links Ends -->#}
    {#<!-- Copyright Area Starts -->#}
    <div class="copyright">
        {#<!-- Container Starts -->#}
        <div class="container">
            {#<!-- Starts -->#}
            <p class="pull-left">
                &nbsp; 2014 Spice Shoppe Stores. Bootstrap Layout All Rights Reserved. Designed By <a
                        href="http://sainathchillapuram.com">Sainath Chillapuram</a>
            </p>
            {#<!-- Ends -->#}
            {#<!-- Payment Gateway Links Starts -->#}
            <ul class="pull-right list-inline">
                <li>
                    <img src="{{ asset("images/payment-icon/cirrus.png") }}" alt="PaymentGateway"/>
                </li>
                <li>
                    <img src="{{ asset("images/payment-icon/paypal.png") }}" alt="PaymentGateway"/>
                </li>
                <li>
                    <img src="{{ asset("images/payment-icon/visa.png") }}" alt="PaymentGateway"/>
                </li>
                <li>
                    <img src="{{ asset("images/payment-icon/mastercard.png") }}" alt="PaymentGateway"/>
                </li>
                <li>
                    <img src="{{ asset("images/payment-icon/americanexpress.png") }}" alt="PaymentGateway"/>
                </li>
            </ul>
            {#<!-- Payment Gateway Links Ends -->#}
        </div>
        {#<!-- Container Ends -->#}
    </div>
    {#<!-- Copyright Area Ends -->#}
</footer>
{#<!-- Footer Section Ends -->#}

{#<!-- JavaScript Files -->#}

<!--[if lt IE 9]>
<script src="{{ asset('assets/js/libs/excanvas.compiled.js')}} "></script>
<![endif]-->

{% javascripts '@javascripts_footer_frontend' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{#Para upload#}
{#<script src="{{ asset('bundles/rbsoftabmgenerador/fileupload//js/fileinput.min.js')}} "></script>#}



{% block javascript_footer %}
{% endblock %}

<div id="veil"></div>
<div id="prLoading">Cargando...</div>

</body>
</html>
