{% extends 'AppBundle:frontend:base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container">
            <div class="row">

                <div class="col-md-3">

                    <h3 class="side-heading">Compras</h3>
                    <div class="list-group">
                        <a href="{{ path("compras", { 'modo': 'pendiente'}) }}" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            En Proceso
                        </a>
                        <a href="{{ path("compras", { 'modo': 'transito'}) }}" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            En Transisto
                        </a>
                        <a href="{{ path("compras", { 'modo': 'terminado'}) }}" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Entregado
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Lista para comptar
                        </a>
                        <a href="#" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Ofertas
                        </a>

                    </div>

                    <h3 class="side-heading">Cuenta</h3>
                    <div class="list-group">
                        <a href="{{ path('fos_user_profile_show') }}" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Perfil
                        </a>
                        <a href="{{ path("fos_user_profile_edit") }}" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Editar perfil
                        </a>
                        <a href="{{ path("fos_user_change_password") }}" class="list-group-item">
                            <i class="fa fa-chevron-right"></i>
                            Cambiar clave
                        </a>

                    </div>

                </div>
                <div class="col-md-9" id="{% block contentId "" %}">
                    {% block contenido %}
                        <div class="row">
                            <div class="col-sm-10">
                                <h2 class="main-heading text-center">{{ app.user }} </h2>
                            </div>
                            <div class="col-sm-2">
                                <img src="{{ image(  app.user.foto  == null ? "assets/img/user_defaul.png"  : "uploads/users/" ~ app.user.foto ).resize(50,60,"#ffffff",'center','center') }}"
                                     class="img-responsive  img-thumbnail"/>
                            </div>
                        </div>

                        {% block workarea %}{% endblock %}
                    {% endblock %}
                </div>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div>

{% endblock %}

