{% trans_default_domain 'FOSUserBundle' %}


{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

<div class="row">
    <div class="col-md-3">
        {{ form_row(form['foto']) }}
    </div>
    <div class="col-md-9">
        {{ form_row(form['email']) }}
        {{ form_row(form['username']) }}
        {{ form_row(form['nombre']) }}
        {{ form_row(form['telefono']) }}
        {{ form_row(form['movil']) }}
        {{ form_row(form['current_password']) }}
        {{ form_widget(form)  }}
    </div>
</div>


<div class="col-sm-4"></div>

<div class="col-sm-8">

    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary pull-right"/>
    </br></br>
</div>


{{ form_end(form) }}

<script>

    $(document).ready(function () {

        $(".fileimg").each(function () {
            {% set imagen_src = (user.foto  == null ? asset("assets/img/user_defaul.png" ) : asset("uploads/users/" ~ user.foto  )) %}
            {#fileImg = "{{ asset("uploads/users/") }}" + $(this).data("foto");#}

            $("#" + this.id).fileinput({
                initialPreview: ["<img src='{{ imagen_src }}' class='file-preview-image'>"],
                overwriteInitial: true,
                showUpload: false,
                showCaption: false,
                browseClass: "btn btn-primary btn-sm",
                fileType: "any",
                allowedFileTypes: ['image'],
                'allowedFileExtensions': ['jpg', 'png', 'gif'],
                uploadLabel: 'Subir',
                removeLabel: 'Quitar',
                browseLabel: 'Explorar'
            });
        })


    });

</script>
