{% extends 'AppBundle:admin:layout.html.twig' %}

{% form_theme edit_form _self %}

{#_categoria[metadatos]#}

{% block _metadatos_metadato_filtrable_widget %}
    hola

{% endblock %}

    {% block id 'Categoria' %}
        {% block contenido -%}
            {% embed '::portlet.html.twig' with {'titulo': 'Editar Categoria: ' ~ entity} %}
                {% block in_header %}
                    <div class='pull-right'>

                        <div class="col-md-2 ">
                            <div class="pull-right">
                                {{ form(delete_form) }}
                            </div>
                        </div>

                        <a href="{{ path('categoria') }}" class="btn btn-sm btn-default">
                            Ir a la lista
                        </a>

                    </div>
                {% endblock %}

                {% block cuerpo %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class='alert alert-{{ type }}'>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <p></p>
                    {{ form_start(edit_form) }}
                    <ul id="myTab1" class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#datos">Datos categoria</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#metadatos">Generar metadatos Producto</a>
                        </li>
                    </ul>
                    <div id="myTab1Content" class="tab-content">
                        <div id="datos" class="tab-pane fade active in">

                            {{ form_row(edit_form.imagen) }}
                            {{ form_row(edit_form.nombre) }}
                            {{ form_row(edit_form.descripcion) }}
                            {{ form_row(edit_form.orden) }}
                            {{ form_row(edit_form.parent) }}
                            {{ form_row(edit_form.visible) }}
                            {{ form_row(edit_form.activo) }}

                        </div>
                        <div id="metadatos" class="tab-pane fade">
                            {% include'AppBundle:admin/Categoria:_metadato_list.html.twig' %}
                            <div>
                                {{ form_widget(edit_form.metadatos) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-offset-2 inner-actions">
                        <input type="submit" value="Guardar"
                               class="form-submit-button btn btn-sm btn-default btn-primary">
                        <a class="page-close-button btn btn-sm btn-default" href="{{ path('categoria') }}">Cerrar
                            <span class="glyphicon glyphicon-remove"></span></a>

                    </div>
                    {{ form_widget(edit_form) }}
                    {{ form_end(edit_form) }}

                {% endblock %}
            {% endembed %}


        {% endblock contenido %}


        {% block javascript_footer %}
            {{ include('AppBundle:admin/Categoria:js.html.twig',{'form': edit_form}) }}

        {% endblock %}