{% extends 'AppBundle:admin:layout.html.twig' %}
    {% block id 'Categoria' %}
        {% block contenido -%}
            {% embed '::portlet.html.twig' with {'titulo': 'Nuevo Categoria' } %}
                {% block in_header %}
                    <div class='pull-right'>
                        <div class="row">

                            <a href="{{ path('categoria') }}" class="btn btn-sm btn-default">
                                Ir a la lista
                            </a>

                        </div>
                    </div>
                {% endblock %}

                {% block cuerpo %}
                    {% for type, flashMessages in app.session.flashbag.all() %}
                        {% for flashMessage in flashMessages %}
                            <div class='alert alert-{{ type }}'>
                                {{ flashMessage }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <p></p>

                    {{ form_start(form) }}
                    <ul id="myTab1" class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#datos">Datos categoria</a>
                        </li>
                        <li class="">
                            <a data-toggle="tab" href="#metadatos">Generar metadatos Producto</a>
                        </li>
                    </ul>

                    <div id="myTab1Content" class="tab-content">
                        <div id="datos" class="tab-pane fade active in">

                            {{ form_row(form.imagen) }}
                            {{ form_row(form.nombre) }}
                            {{ form_row(form.descripcion) }}
                            {{ form_row(form.orden) }}
                            {{ form_row(form.parent) }}
                            {{ form_row(form.visible) }}
                            {{ form_row(form.activo) }}

                        </div>
                        {#<div id="metadatos" class="tab-pane fade">#}
                            {#{% include'AppBundle:admin/Categoria:_metadato_list.html.twig' %}#}
                            {#<div>#}
                                {#{{ form_widget(form.metadatos) }}#}
                            {#</div>#}
                        {#</div>#}
                    </div>

                    <div class="col-sm-offset-2 inner-actions">
                        <button title="Guardar"
                                class="form-submit-button btn btn-sm btn-default btn-primary"
                                value="save_and_add" name="save_mode" type="submit">Guardar <span
                                    class="glyphicon glyphicon-ok"></span></button>
                        <button title="Guardar y Salir"
                                class="form-submit-button btn btn-sm btn-default btn-info"
                                value="save_and_close" name="save_mode" type="submit">Guardar y Salir <span
                                    class="glyphicon glyphicon-remove"></span></button>
                        <a class="page-close-button btn btn-sm btn-default" href="{{ path('categoria') }}">Cerrar
                            <span class="glyphicon glyphicon-remove"></span></a>
                    </div>

                    {{ form_widget(form) }}
                    {{ form_end(form) }}


                {% endblock %}
            {% endembed %}

        {% endblock contenido %}

        {% block javascript_footer %}
            {{ include('AppBundle:admin/Categoria:js.html.twig',{'form': form}) }}

        {% endblock %}