{% extends "AppBundle:admin:layout.html.twig" %}

    {% block id 'Usuario' %}


        {% block contenido -%}
            {% embed '::portlet.html.twig' with {'titulo': 'Nuevo Usuario' } %}
                {% block cuerpo %}
                    <p></p>

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="col-sm-offset-2">
                        <input type="submit" value="Guardar" class="btn btn-success">
                    </div>

                    {{ form_end(form) }}



                    <div class="row">


                        <div class="col-md-1 col-md-offset-10 ">
                            <a href="{{ path('usuario') }}" class="btn btn-sm btn-default">
                                Ir a la lista
                            </a>
                        </div>

                    </div>

                {% endblock %}
            {% endembed %}



        {% endblock contenido %}

        {% block javascript_footer %}
            <script>
                $("#rbsoft_usuariobundle_usuario_imagen").fileinput({
                    {#initialPreview: ["<img src='{{ asset("uploads/usuarios/" ~ entity.login ~ '.jpg' ) }}' class='file-preview-image'>"],#}
                    overwriteInitial: true,
                    showUpload: false,
                    showCaption: false,
                    browseClass: "btn btn-primary btn-lg",
                    fileType: "any",
                    allowedFileTypes: ['image'],
                    'allowedFileExtensions': ['jpg', 'png', 'gif'],
                    uploadLabel: 'Subir',
                    removeLabel: 'Quitar',
                    browseLabel: 'Explorar'


                });
            </script>

        {% endblock %}