{% extends "AppBundle:admin:layout.html.twig" %}
    {% block id 'Usuario' %} 
            {% block contenido -%}
                {% embed '::portlet.html.twig' with {'titulo': 'Perfil: ' } %}
                    {% block in_header %}
                        <div class='pull-right '>
                            <a href="{{ path('homepage_admin') }}" class="btn btn-sm btn-default">
                                Salir
                            </a>
                        </div>
                    {% endblock %}
                    {% block cuerpo %}
                        {% for type, flashMessages in app.session.flashbag.all() %}
                            {% for flashMessage in flashMessages %}
                                <div class='alert alert-{{ type }}'>
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <p></p>

                        {{ form_start(edit_form) }}
                        <div class="row">
                            <div class="col-md-12">
                                {{ form_row(edit_form.imagen) }}
                                {{ form_row(edit_form.email) }}
                                {{ form_row(edit_form.password) }}

                                <h4 class="content-title"><u>Información Adicional</u></h4>
                                {{ form_widget(edit_form) }}


                                <div class="">
                                    <input type="submit" value="Guardar" class="btn btn-success">
                                </div>
                            </div>
                        </div>

                        {{ form_end(edit_form) }}

                    {% endblock %}
                {% endembed %}

                {% block stylesheets %}
                    <link href="{{ asset("bundles/rbsoftabmgenerador/css/laradmin.css") }}" rel="stylesheet">

                {% endblock %}


            {% endblock contenido %}

{% block javascript_footer %}
    <script>
        $("#rbsoft_usuariobundle_usuario_imagen").fileinput({
            initialPreview: ["<img src='{{ asset("uploads/usuarios/" ~ entity.login ~ '.jpg' ) }}' class='file-preview-image'>"],
            overwriteInitial: true,
            showUpload: false,
            showCaption: false,
            browseClass: "btn btn-primary btn-sm",
            fileType: "any",
            allowedFileTypes: ['image'],
            'allowedFileExtensions' : ['jpg'],
            uploadLabel: 'Subir',
            removeLabel: 'Quitar',
            browseLabel: 'Explorar'


        });
    </script>

{% endblock %}
