{% extends "AppBundle:admin:layout.html.twig" %}

    {% block contenido -%}
    {% embed '::portlet.html.twig' with {'titulo': 'Ver Usuario: ' ~ entity} %}
            {% block cuerpo %} 
         <p></p>



        <table class="table">
                <tbody>
                    <tr>
                        <th>Login</th>
                            <td>{{ entity.login }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                            <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                            <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Telefono</th>
                            <td>{{ entity.telefono }}</td>
                    </tr>
                    <tr>
                        <th>Celular</th>
                            <td>{{ entity.celular }}</td>
                    </tr>
                    <tr>
                        <th>Facebook</th>
                            <td>{{ entity.facebook }}</td>
                    </tr>
                    <tr>
                        <th>Twitter</th>
                            <td>{{ entity.twitter }}</td>
                    </tr>

                    <tr>
                        <th>Fecha_alta</th>
                            <td>{{ entity.fechaalta|date('Y-m-d H:i:s') }}</td>
                    </tr>
                </tbody>
            </table>

                <div class="row">
                <div class="col-md-1 col-md-offset-8 ">
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
    </div>
    <div class="col-md-1 ">
        <div class="pull-left">
            <a href="{{ path('usuario_edit', { 'id': entity.id }) }}"
               class="btn btn-sm btn-default">
                Editar
            </a>

        </div>
    </div>



<div class="col-md-1  ">
    <a href="{{ path('usuario') }}" class="btn btn-sm btn-default">
        Ir a la lista
    </a>
</div>

        </div>

    {% endblock %} 
    {% endembed %} 
    {% endblock contenido %}
