<section class="products-list">
    <div class="container">
        {#<!-- Heading Starts -->#}
        <h2 class="product-head">{{ "Ultimos productos" | trans }}</h2>
        {#<!-- Heading Ends -->#}
        {#<!-- Products Row Starts -->#}
        <div class="row">
        {%  for prod in   prods %}
            {#<!-- Product # Starts -->#}
            <div class="col-md-3 col-sm-6">
                <div class="product-col">
                    <div class="image">
                        <img src="{{ image( prod.imagenActiva).resize(220,200,"#ffffff",'center','center') }}" alt="producto"  class="img-responsive"  style="width:220px;height:200px;" />
                    </div>
                    <div class="caption">
                        <div style="min-height: 100px; max-height: 100px">
                        <h4><a href="{{ path('productofull',{'id': prod.id }) }}">{{ prod.nombre }}</a></h4>
                        <div class="description">
                            {{ prod.descripcion |truncate(100, false, '...') }}

                        </div>
                        </div>
                        <div class="price">
                            <span class="price-new">{{ prod.precio }}</span>
                            <span class="price-old">$249.50</span>
                        </div>
                        <div class="cart-button button-group">
                            <button type="button" title="" class="btn btn-wishlist" data-original-title="Wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                            <button type="button" title="" class="btn btn-compare" data-original-title="Compare">
                                <i class="fa fa-bar-chart-o"></i>
                            </button>

                            {% include '@App/frontend/Producto/add_cart_link.html.twig' with { 'entity': prod} %}
                        </div>
                    </div>
                </div>
            </div>
            {#<!-- Product # Ends -->#}

        {% endfor %}



        </div>
        <!-- Products Row Ends -->
    </div>
</section>