{% extends 'AppBundle:frontend:layout_with_sidebar.html.twig' %}

{#{% block pre_body %}#}
{#{% include "@App/frontend/includes/carrusel.html.twig" %}#}
{#{{ render(path("ultimosproductos")) }}#}
{#{% endblock pre_body %}#}

{% block workarea -%}

    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            {#<!-- Breadcrumb Starts -->#}
            {#<ol class="breadcrumb">#}
            {#<li><a href="index.html">Home</a></li>#}
            {#<li class="active">Spices &amp; Herbs</li>#}
            {#</ol>#}
            {{ wo_render_breadcrumbs() }}
            {#<!-- Breadcrumb Ends -->#}
            {#<!-- Main Heading Starts -->#}
            <h2 class="main-heading2">
                {{ cat.nombre }}
            </h2>
            {#<!-- Main Heading Ends -->#}
            {#<!-- Category Intro Content Starts -->#}
            <div class="row cat-intro">
                <div class="col-sm-3">
                    {#<img src="{{ asset("uploads/categorias/"~ cat.imagen) }}" width="189" height="189" alt="Image"#}
                    {#class="img-responsive img-thumbnail">#}
                    <img src="{{ image("uploads/categorias/"~ cat.imagen).resize(189,189) }}"
                         class="img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-9 cat-body">
                    {{ cat.descripcion | raw }}
                </div>
            </div>
            {#<!-- Category Intro Content Ends -->#}
            {#<!-- Product Filter Starts -->#}
            <div class="product-filter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="display">
                            <a href="#" class="{{ vista == 'lista' ? 'active' }}" data-modo="lista"
                               data-categoria="{{ cat.id }}">
                                <i class="fa fa-th-list" title="" data-original-title="List View"></i>
                            </a>
                            <a href="#" class="{{ vista == 'grid' ? 'active' }}" data-modo="grid"
                               data-categoria="{{ cat.id }}">
                                <i class="fa fa-th" title="" data-original-title="Grid View"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <label class="control-label">{{ "Orden" | trans }}</label>
                    </div>
                    <div class="col-md-3 text-right">
                        <select class="form-control" id="cboOrden">
                            <option value="0" selected="selected">{{ "Predeterminado" | trans }}</option>
                            <option value="1">{{ "Nombre (A - Z)" | trans }}</option>
                            <option value="2">{{ "Nombre (Z - A)" | trans }}</option>
                        </select>
                    </div>
                    <div class="col-md-1 text-right">
                        <label class="control-label">{{ 'Ver' | trans }}</label>
                    </div>
                    <div class="col-md-2 text-right">
                        <select class="form-control" id="cboLargo">
                            <option value="3" selected="selected">3</option>
                            <option value="6">6</option>
                            <option value="9">9</option>
                        </select>
                    </div>
                </div>
            </div>
            {#<!-- Product List Display Starts -->#}
            <div class="lista_producto">
                {{ include('@App/frontend/Producto/productosAjax.html.twig') }}
            </div>


        </div>
        {#<!-- Primary Content Ends -->#}
        {#<!-- Sidebar Starts -->#}
        <div class="col-md-3">
            {{ render(path("slideproducto",{'id': cat.id})) }}
        </div>
        {#<!-- Sidebar Ends -->#}
    </div>
    <br><br>

    <script type="text/javascript">

        $(function () {
            $('body').on('click', '[data-modo]', function (e) {
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                ProductochangeView();
                e.preventDefault();
            });


            $('#cboOrden').change(function (e) {
                ProductochangeView();
            });

            $('#cboLargo').change(function (e) {
                ProductochangeView();
            });

        });


        /**
         * Llama ajax para poblar
         * @param cat
         * @param view
         * @returns {boolean}
         * @constructor
         */
        ProductochangeView = function () {
            var modo = "", cat = '';
            $('[data-modo]').each(function (index) {
                if ($(this).hasClass('active')) {
                    modo = $(this).data('modo');
                    cat = $(this).data('categoria');
                }
            })

            //ProductochangeView(cat, modo, $("#cboOrden").val(), $("#cboLargo").val());
            $("#cargando").css("display", "inline");
            $.ajax({
                url: Routing.generate('productos', {
                    'id': cat,
                    'vista': modo,
                    'orden': $("#cboOrden").val(),
                    'ver': $("#cboLargo").val()
                }),
                context: document.body,
                success: function (data) {
                    $(".lista_producto").html(data);
                }

            }).done(function () {
//                hideIndocador();

            });

            return false;
        }

        $(document).ready(function (e) {

            {% for k,v in filtro %}
            {% if k == 'precio' %}
            $("#id{{ v }}", '#form_filtro').prop('checked', true);
            {% else %}
            $("input", '#form_filtro').each(function (i) {

                if ($(this).prop('name') == 'filtro[{{ k }}][]') {
                    {% for l in v %}
                    if ($(this).val() == '{{ l }}') {
                        $(this).prop('checked', true);
                    }
                    {% endfor %}
                }

            });
            {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}

