{% extends 'AppBundle:frontend:layout_with_sidebar.html.twig' %}

{#{% block pre_body %}#}
{#{% include "@App/frontend/includes/carrusel.html.twig" %}#}
{#{{ render(path("ultimosproductos")) }}#}
{#{% endblock pre_body %}#}


{% block workarea -%}
    <div class="row">
        <!-- Primary Content Starts -->
        <div class="col-md-9">
            {#<!-- Breadcrumb Starts -->#}
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Spices &amp; Herbs</li>
            </ol>
            {#<!-- Breadcrumb Ends -->#}
            {#<!-- Main Heading Starts -->#}
            <h2 class="main-heading2">
                {{ cat.nombre }}
            </h2>
            {#<!-- Main Heading Ends -->#}
            {#<!-- Category Intro Content Starts -->#}
            <div class="row cat-intro">
                <div class="col-sm-3">
                    <img src="{{ asset("uploads/categorias/"~ cat.imagen) }}" width="189" height="189" alt="Image"
                         class="img-responsive img-thumbnail">
                </div>
                <div class="col-sm-9 cat-body">
                    {{ cat.descripcion | raw }}
                </div>
            </div>
            {#<!-- Category Intro Content Ends -->#}
            {#<!-- Product Filter Starts -->#}
            <div class="product-filter">
                <div class="row">
                    <div class="col-md-4">
                        <div class="display">
                            <a href="category-list.html" class="active">
                                <i class="fa fa-th-list" title="" data-original-title="List View"></i>
                            </a>
                            <a href="category-grid.html">
                                <i class="fa fa-th" title="" data-original-title="Grid View"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-2 text-right">
                        <label class="control-label">{{ "Orden" | trans }}</label>
                    </div>
                    <div class="col-md-3 text-right">
                        <select class="form-control">
                            <option value="default" selected="selected">{{ "Predeterminado" | trans }}</option>
                            <option value="NAZ">{{ "Nombre (A - Z)" | trans }}</option>
                            <option value="NZA">{{ "Nombre (Z - A)" | trans }}</option>
                        </select>
                    </div>
                    <div class="col-md-1 text-right">
                        <label class="control-label">{{ 'Ver' | trans }}</label>
                    </div>
                    <div class="col-md-2 text-right">
                        <select class="form-control">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3" selected="selected">3</option>
                        </select>
                    </div>
                </div>
            </div>
            {#<!-- Product List Display Starts -->#}
            <div class="row lista_producto">
                {% for entity in pager %}
                    <div class="col-xs-12">
                        <div class="product-col list clearfix">
                            <div class="image">
                                <img src="{{ asset('uploads/productos/'~entity.imagenActiva) }}" width="230"
                                     height="180" alt="product" class="img-responsive">
                            </div>
                            <div class="caption">
                                <h4><a href="product-full.html">{{ entity.nombre }}</a></h4>

                                <div class="description">
                                    {{ entity.descripcion | raw }}
                                </div>
                                <div class="price">
                                    {#<p class="price-tax">Ex Tax: $279.99</p>#}
                                    {% if setting.descuentoGlobal == 0 %}
                                        <span class="price-new">$ {{ '%8.2f'  | format(entity.precio ) }}</span>
                                    {% else %}
                                        <span class="price-new">$ {{ '%8.2f'  | format(entity.precio - entity.precio * setting.descuentoGlobal/100 ) }}</span>
                                        <span class="price-old">$ {{ '%8.2f'  | format(entity.precio ) }}</span>
                                    {% endif %}
                                </div>
                                <div class="cart-button button-group">
                                    <button type="button" title="" class="btn btn-wishlist"
                                            data-original-title="Wishlist">
                                        <i class="fa fa-heart"></i>
                                    </button>
                                    <button type="button" title="" class="btn btn-compare"
                                            data-original-title="Compare">
                                        <i class="fa fa-bar-chart-o"></i>
                                    </button>
                                    <button type="button" class="btn btn-cart">
                                        {{ 'Agregar a la cesta' | trans }}
                                        <i class="fa fa-shopping-cart"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-lg-9">
                    {{ knp_pagination_render(pager) }}

                </div>
                <div class="col-lg-3">


                </div>

                {#<!-- Product Filter Ends -->#}


            </div>
        </div>
        {#<!-- Primary Content Ends -->#}
        {#<!-- Sidebar Starts -->#}
        <div class="col-md-3">

        </div>
        {#<!-- Sidebar Ends -->#}
    </div>
    <br><br>
{% endblock %}
