<h3 class="side-heading">Filtros</h3>

<div class="list-group">
    <form id="form_filtro" method="post">
        <div class="list-group-item">
            Rango de precios
        </div>
        <div class="list-group-item">
            <div class="filter-group">
                {% for i in 0..9 %}
                    <label class="radio">
                        <input type="radio" value="{{ i }}" name="filtro[precio]" id="id{{ i }}" >
                        ${{ i*100 }} - ${{ i*100 + 99 }}
                    </label>
                {% endfor %}
                <label class="radio">
                    <input type="radio" value="10" name="filtro[precio]" id="id10">
                    $1000 y mas...
                </label>
                <label class="radio">
                    <input type="radio"  value="99" name="filtro[precio]" id="id99">
                    Todos...
                </label>
            </div>
        </div>

        {% for codigo, grupo in datos %}
            {% if grupo | length >1 %}
                <div class="list-group-item">
                    {{ codigo }}
                </div>

                <div class="list-group-item">
                    <div class="filter-group">
                        {% for item in grupo %}
                            {% if loop.first %}
                              <input type="hidden" name="filtro[g_{{ item.id }}]" value="{{ codigo }}" >
                            {% endif %}
                            <label class="checkbox">
                                <input type="checkbox" value="{{ item.valor }}" name="filtro[m_{{ item.id }}][]">
                                {{ item.valor }} <span class="badge badge-primary"> {{ item.cant }}</span>
                            </label>
                        {% endfor %}

                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="list-group-item">
            <button type="submit" class="btn btn-warning">Aplicar</button>
        </div>
    </form>
</div>