{% extends 'AppBundle:admin:layout.html.twig' %}

    {% block contenido -%}
        {% embed '::portlet.html.twig' with {'titulo': 'Ver Proveedor: ' ~ entity} %}
            {% block in_header %}
                <div class='pull-right'>
                    <div class="row">
                        <div class="col-md-1 ">
                            <div class="pull-right">
                                {{ form(delete_form) }}
                            </div>
                        </div>
                        <a href="{{ path('proveedor_edit', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default">
                            Editar
                        </a>
                        <a href="{{ path('proveedor') }}" class="btn btn-sm btn-default">
                            Ir a la lista
                        </a>


                    </div>
                </div>
            {% endblock %}
            {% block cuerpo %}
                <p></p>
                <table class="table">
                    <tbody>
                    <tr>
                        <th class="show-header">Codigo</th>
                        <td>{{ entity.codigo }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Razon social</th>
                        <td>{{ entity.razonsocial }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Nombre fantasia</th>
                        <td>{{ entity.nombrefantasia }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Cuit</th>
                        <td>{{ entity.cuit }}</td>
                    </tr>
                    <tr>
                        <th class="show-header" colspan="2"><h3 class="panel-title pull-left ">Datos de la Empresa</h3></th>
                    </tr>


                    <tr>
                        <th class="show-header">Domicilio</th>
                        <td>{{ entity.domicilio }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Codigo postal</th>
                        <td>{{ entity.codigopostal }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Localidad</th>
                        <td>{{ entity.localidad.nombre }} ({{entity.localidad.provincia.nombre }}, {{entity.localidad.provincia.pais.nombre }})</td>
                    </tr>
                    <tr>
                        <th class="show-header">Web</th>
                        <td>{{ entity.paginaweb }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Telefono</th>
                        <td>{{ entity.telefono }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Fax</th>
                        <td>{{ entity.fax }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Correo Electronico</th>
                        <td>{{ entity.email }}</td>
                    </tr>
                    <tr>
                        <th class="show-header" colspan="2"><h3 class="panel-title pull-left ">Datos del Contacto</h3></th>
                    </tr>

                    <tr>
                        <th class="show-header">Persona de Contacto</th>
                        <td>{{ entity.contacto }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Telefono</th>
                        <td>{{ entity.contactotelefono }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Numero Int.</th>
                        <td>{{ entity.contactoint }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Fax</th>
                        <td>{{ entity.contactofax }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">movil</th>
                        <td>{{ entity.contactomovil }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Mail</th>
                        <td>{{ entity.contactoemail }}</td>
                    </tr>
                    <tr>
                        <th class="show-header" colspan="2"><h3 class="panel-title pull-left ">Datos económicos</h3></th>
                    </tr>

                    <tr>
                        <th class="show-header">Moneda</th>
                        <td>{{ entity.moneda }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Limite de Credito</th>
                        <td>{{ entity.limitecredito }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Tipo de Pago</th>
                        <td>{{ entity.tipopago }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Descuento</th>
                        <td>{{ entity.descuento }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Cond. Iva</th>
                        <td>{{ entity.condiva }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">N de Cuenta</th>
                        <td>{{ entity.ncuenta }}</td>
                    </tr>
                    <tr>
                        <th class="show-header" colspan="2"><h3 class="panel-title pull-left ">Otros Datos</h3></th>
                    </tr>

                    <tr>
                        <th class="show-header">Observación</th>
                        <td>{{ entity.observacion }}</td>
                    </tr>
                    </tbody>
                </table>


            {% endblock %}
        {% endembed %}
    {% endblock contenido %}
