{% extends 'AppBundle:admin:layout.html.twig' %}

    {% block id 'Producto' %} 
            {% block contenido -%}
                {% embed '::portlet.html.twig' with {'titulo': 'Editar Producto: ' ~ entity} %}
                    {% block in_header %}
                        <div class='pull-right'>
                            <div class="row">

                                <div class="col-md-2 ">
                                    <div class="pull-right">
                                        {{ form(delete_form) }}
                                    </div>
                                </div>

                                <a href="{{ path('producto') }}" class="btn btn-sm btn-default">
                                    Ir a la lista
                                </a>


                            </div>
                        </div>
                    {% endblock %}

                    {% block cuerpo %}
                        {% for type, flashMessages in app.session.flashbag.all() %}
                            {% for flashMessage in flashMessages %}
                                <div class='alert alert-{{ type }}'>
                                    {{ flashMessage }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        <p></p>

                        {{ form_start(edit_form) }}

                        <ul id="myTab1" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#datos">Producto</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#imagenes">Imagenes</a>
                            </li>
                        </ul>
                        <div id="myTab1Content" class="tab-content">
                            <div id="imagenes" class="tab-pane fade">
                                {{ form_row(edit_form.imagenes) }}

                            </div>
                            <div id="datos" class="tab-pane fade active in">

                                {{ form_row(edit_form.codigo) }}
                                {{ form_row(edit_form.nombre) }}

                                <div class="form-group">
                                    <label class="col-sm-2 control-label required">Catergoria</label>

                                    <div class="col-sm-10">
                                        <span class="form-control-disable ">{{ entity.categoria | categoria_breadcrumd }}</span>
                                    </div>
                                </div>

                                {{ form_row(edit_form.descripcion) }}
                                {{ form_row(edit_form.precio) }}
                                {{ form_row(edit_form.iva) }}
                                {{ form_row(edit_form.limiteStock) }}
                                {{ form_row(edit_form.activo) }}

                                <h4 class="content-title"><u>Información Adicional</u></h4>

                                <div id="info-acicional">
                                    {{ form_widget(edit_form) }}
                                </div>

                            </div>

                        </div>


                        <div class="col-sm-offset-2 inner-actions">
                            <input type="submit" value="Guardar"
                                   class="form-submit-button btn btn-sm btn-default btn-primary">
                            <a class="page-close-button btn btn-sm btn-default" href="{{ path('producto') }}">Cerrar
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>

                        </div>

                        {{ form_end(edit_form) }}

                        <div class="upload_div" style="display: none">
                            <input id="upload" type="file" multiple />
                        </div>
                        {#<form name="multiple_upload_form" id="multiple_upload_form" method="POST" enctype="multipart/form-data" action="{{ path('producto_imagen_ajax') }}">#}
                            {#<input type="hidden" name="image_form_submit" value="1"/>#}
                            {#<label>Choose Image</label>#}
                            {#<input type="file" name="images[]" id="images" multiple >#}
                            {#<div class="uploading none">#}
                                {#<label>&nbsp;</label>#}
                                {#<img src="uploading.gif" alt="uploading......"/>#}
                            {#</div>#}
                        {#</form>#}
                    {% endblock %}
                {% endembed %}


            {% endblock contenido %}

        {% block javascript_footer %}
            <link rel="canonical" href="http://www.inwebson.com/demo/html5-drag-and-drop-file-upload/" />
            {{ include('@App/admin/Producto/js.html.twig',{'form': edit_form}) }}

        {% endblock %}

