{% extends 'AppBundle:admin:layout.html.twig' %}

    {% block id 'Producto' %} 
            {% block contenido -%}
                {% embed '::portlet.html.twig' with {'titulo': 'Editar Producto: ' ~ entity} %}
                    {% block in_header %}
                        <div class='pull-right'>
                            <div class="row">

                                <div class="col-md-2 ">
                                    <div class="pull-right">
                                        {{ form(delete_form) }}
                                    </div>
                                </div>


                                <a href="{{ path('producto') }}" class="btn btn-sm btn-default">
                                    Ir a la lista
                                </a>


                            </div>
                        </div>
                    {% endblock %}

                    {% block cuerpo %}
                        <p></p>
                        {#{{ entity.imagenes |ld }}#}

                        {{ form_start(edit_form) }}

                        <ul id="myTab1" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#datos">Producto</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#imagenes">Imagenes</a>
                            </li>
                        </ul>
                        <div id="myTab1Content" class="tab-content">
                            <div id="imagenes" class="tab-pane fade">

                                {{ form_row(edit_form.images) }}


                                <div class="existing-image">
                                    <ul class="row list-unstyled ui-sortable" id="js-sort-image">

                                        {% for imagen in entity.imagenes %}

                                            <li id="{{ imagen.id }}"
                                                class="col-sm-6 col-md-3 ui-state-default">
                                                <a href="{{ asset(imagen.getWebPath() ) }}"
                                                   class="thumbnail thumbnail-view-hover image-popup-vertical-fit">
                                                    <img alt="imagen"
                                                         src="{{ imagen.getWebPath() | apply_filter('thumbnail') }}">
                                                </a>

                                                <div class="btn-group">
                                                    <a href="#"
                                                       class="image-update-btn btn btn-default btn-xs disabled js-sorted-position">{{ imagen.id }}</a>

                                                    <span class="btn btn-default btn-xs">

                                                        <input type="radio" name="group1"
                                                               data-href="{{ path('producto_imagen', {'id': imagen.id, 'status': 'primario'}) }}"
                                                               value="{{ imagen.id }}" {{ imagen.primario == 1 ? 'checked="checked"' : '' }}
                                                               class="radio-select-primario"></span>

                                                    <a data-error-message="Borrar"
                                                       href="#"

                                                       data-href="{{ path('producto_imagen', {'id': imagen.id, 'status': 'delete'}) }}"
                                                       class="image-delete image-delete-btn btn btn-default btn-xs">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </a>
                                                </div>

                                            </li>
                                        {% endfor %}

                                    </ul>
                                </div>

                            </div>
                            <div id="datos" class="tab-pane fade active in">

                                <div class="form-group">
                                    <label
                                            class="col-sm-2 control-label required">Catergoria</label>

                                    <div class="col-sm-10">
                                        <span class="form-control">{{ entity.categoria }}</span>
                                    </div>
                                </div>

                                {#{{ form_row(edit_form.categoria) }}#}
                                {{ form_row(edit_form.codigo) }}
                                {{ form_row(edit_form.nombre) }}
                                {{ form_row(edit_form.descripcion) }}
                                {{ form_row(edit_form.precio) }}
                                {{ form_row(edit_form.iva) }}
                                {{ form_row(edit_form.activo) }}

                                <h4 class="content-title"><u>Información Adicional</u></h4>

                                <div id="info-acicional">
                                    {{ form_widget(edit_form) }}
                                </div>

                            </div>

                        </div>


                        <div class="col-sm-offset-2 inner-actions">
                            <input type="submit" value="Guardar"
                                   class="form-submit-button btn btn-sm btn-default btn-success">
                            <a class="page-close-button btn btn-sm btn-default" href="{{ path('producto') }}">Cerrar
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>

                        </div>

                        {{ form_end(edit_form) }}

                    {% endblock %}
                {% endembed %}


            {% endblock contenido %}

        {% block javascript_footer %}
            {{ include('@App/admin/Producto/js.html.twig',{'form': edit_form}) }}

        {% endblock %}

