{% extends 'AppBundle:admin:layout.html.twig' %}

    {% block id 'Producto' %} 
            {% block contenido -%}
                {% embed '::portlet.html.twig' with {'titulo': 'Editar Producto: ' ~ entity} %}
                    {% block in_header %}
                        <div class='pull-right'>
                            <div class="row">

                                <div class="col-md-2 ">
                                    <div class="pull-right">
                                        {{ form(delete_form) }}
                                    </div>
                                </div>


                                <a href="{{ path('producto') }}" class="btn btn-sm btn-default">
                                    Ir a la lista
                                </a>


                            </div>
                        </div>
                    {% endblock %}

                    {% block cuerpo %}
                        <p></p>

                        {{ form_start(edit_form) }}

                        <ul id="myTab1" class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#datos">Producto</a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#imagenes">Imagenes</a>
                            </li>
                        </ul>
                        <div id="myTab1Content" class="tab-content">
                            <div id="datos" class="tab-pane fade active in">

                                {{ form_widget(edit_form) }}

                                <h4 class="content-title"><u>Información Adicional</u></h4>

                                <div id="info-acicional"></div>
                            </div>
                            <div id="imagenes" class="tab-pane fade">

                                {#{{ form_widget(edit_form) }}#}

                            </div>
                        </div>


                        <div class="col-sm-offset-2 inner-actions">
                            <input type="submit" value="Guardar"
                                   class="form-submit-button btn btn-sm btn-default btn-success">
                            <a class="page-close-button btn btn-sm btn-default" href="{{ path('producto') }}">Cerrar
                                <span class="glyphicon glyphicon-remove"></span></a>

                        </div>

                        {{ form_end(edit_form) }}

                    {% endblock %}
                {% endembed %}


            {% endblock contenido %}

        {% block javascript_footer %}
            {{ include('@App/admin/Producto/js.html.twig',{'form': edit_form})  }}

        {% endblock %}

