{% extends 'AppBundle:admin:layout.html.twig' %}

    {% block contenido -%}
        {% embed '::portlet.html.twig' with {'titulo': 'Producto: ' ~ entity} %}
            {% block in_header %}
                <div class='pull-right'>
                    <div class="row">
                        <div class="col-md-1 ">
                            <div class="pull-right">
                                {{ form(delete_form) }}
                            </div>
                        </div>
                        <a href="{{ path('producto_edit', { 'id': entity.id }) }}"
                           class="btn btn-sm btn-default">
                            Editar
                        </a>


                        <a href="{{ path('producto') }}" class="btn btn-sm btn-default">
                            Ir a la lista
                        </a>


                    </div>
                </div>
            {% endblock %}
            {% block cuerpo %}
                <p></p>

                <table class="table table-show">
                    <tbody>
                    <tr>
                        <th class="show-header">Activo</th>
                        <td>{{ entity.activo? '<span class="label label-success">Activo</span>' : '<span class="label label-default">Desactivado</span>' }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Codigo</th>
                        <td>{{ entity.codigo }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Nombre</th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Categoria</th>
                        <td>{{ entity.categoria | categoria_breadcrumd }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Descripción</th>
                        <td>{{ entity.descripcion }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Precio por Unidad</th>
                        <td>{{ entity.precio }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Iva</th>
                        <td>{{ entity.iva }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Stock</th>
                        <td>{{ entity.stock }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Stock minimo</th>
                        <td>{{ entity.limiteStock }}</td>
                    </tr>
                    <tr>
                        <th class="show-header">Actualizado por</th>
                        <td>{{ entity.usuario }}</td>
                    </tr>
                    </tbody>
                </table>

                <h4 class="content-title"><u>Información Adicional</u></h4>

                <table class="table">
                    <tbody>
                    {% for dato in entity.extencion %}
                        <tr>
                            <th class="show-header">{{ dato.metadatoProducto.nombre }}</th>
                            <td>{{ dato.valor }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Sin información</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h4 class="content-title"><u>Galeria</u></h4>


                <div class="gallery">
                    <ul class="reorder-photos-list">

                        {% for imagen in entity.imagenes %}
                            <li class="ui-sortable-handle">
                                <a class="image_link" style="float:none;"
                                   href="{{asset(imagen.getWebPath()) }}" target="_blank">
                                    <img alt="s"
                                         src="{{ image(imagen.getWebPath()).resize(90,160,"#ffffff",'center','center') }} ">
                                </a>

                            </li>
                        {% else %}
                            <li class="ui-sortable-handle">
                                <a class="image_link" style="float:none;"
                                   href="#" target="_blank">
                                    <img alt="s"
                                         src="{{ image('images/sin_imagen_disponible.jpg').resize(90,160,"#ffffff",'center','center') }} ">
                                </a>

                            </li>
                        {% endfor %}
                    </ul>
                </div>

            {% endblock %}
        {% endembed %}
    {% endblock contenido %}
