<button type="button" data-toggle="dropdown" class="btn btn-block btn-lg dropdown-toggle">
    <i class="fa fa-shopping-cart"></i>
    <span class="hidden-md">{{ 'Carro' | trans }}:</span>
    <span id="cart-total">{{ cart.cantidad }} item(s) - $ {{ cartManagerModel.carroTotal }}</span>
    <i class="fa fa-caret-down"></i>
</button>
<ul class="dropdown-menu pull-right">
    <li>
        <table class="table table-striped hcart">
            {% for item in cartModel.items %}

            <tr>
                <td class="text-center">
                    <a href="{{ path('productofull',{'id': item.producto.id }) }}">
                        {#<img src="{{ image('uploads/productos/' ~ item.producto.imagenActiva) }}"#}
                             {#alt="product" class="img-thumbnail img-responsive">#}
                        <img src="{{ image(item.producto.imagenActiva).zoomCrop(70,45,"#ffffff",'center','center') }}" class="img-responsive" />
                    </a>
                </td>
                <td class="text-left">
                    <a href="{{ path('productofull',{'id': item.producto.id }) }}">
                        {{ item.producto.nombre }}
                    </a>
                </td>
                <td class="text-right">x {{ item.cantidad }}</td>
                <td class="text-right">${{ item.cantidad * item.producto.precio }}</td>
                <td class="text-center">
                    <a href="#">
                        <i class="fa fa-times"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}

        </table>
    </li>
    <li>
        <table class="table table-bordered total">
            <tbody>
            <tr>
                <td class="text-right"><strong>Sub-Total</strong></td>
                <td class="text-left">$ {{ cartManagerModel.carroSumaItem  }}</td>
            </tr>

            <tr>
                <td class="text-right"><strong>Total</strong></td>
                <td class="text-left">$ {{ cartManagerModel.carroTotal }}</td>
            </tr>
            </tbody>
        </table>
        <p class="text-right btn-block1">
            <a href="{{ path("cartdisplay") }}">
                {{ 'Ver Carro' | trans }}
            </a>
            <a href="#">
                {{ 'Compar' | trans }}
            </a>
        </p>
    </li>
</ul>
