{% extends "AppBundle:admin:base.html.twig" %}
{% trans_default_domain "login" %}
{% block navbar  %}{% endblock %}
{% block topbar %}{% endblock %}
{% block body %}


    <div class="account-wrapper">

        <div class="account-body">

            <h3>{{ "login.titulo" | trans }}</h3>

            <h5>{{ 'login.mensaje' | trans }}</h5>
            {% if error %}
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4>Error!</h4>
                    {{ error.message | trans }}
                </div>

            {% endif %}
            <form class="form account-form" method="POST" action="{{ path('admin_login_check') }}" >

                <div class="form-group">
                    <label for="login-username" class="placeholder-hidden">{{ 'login.usuario' | trans }}</label>
                    <input type="text" class="form-control" id="login-username" placeholder="{{ 'login.usuario' | trans }}" tabindex="1" name="_username" value="{{ last_username }}" required>
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <label for="login-password" class="placeholder-hidden">{{ 'login.clave' | trans }}</label>
                    <input type="password" class="form-control" id="login-password" placeholder="{{ 'login.clave' | trans }}" tabindex="2" name="_password" required>
                </div> <!-- /.form-group -->

                <div class="form-group clearfix">
                    <div class="pull-left">
                        <label class="checkbox-inline">
                            <input type="checkbox" class="" value="" tabindex="3"> <small>{{ 'login.recordarme' | trans }}</small>
                        </label>
                    </div>

                    <div class="pull-right">
                        <small><a href="./account-forgot.html">{{ 'login.perdio_clave' | trans }}</a></small>
                    </div>
                </div> <!-- /.form-group -->

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
                        {{ 'login.btn_ingresar' | trans }} &nbsp; <i class="fa fa-play-circle"></i>
                    </button>
                </div> <!-- /.form-group -->

            </form>


        </div> <!-- /.account-body -->

        <div class="account-footer">
            <p>
                  {{ 'login.footer' | trans }}
            </p>
        </div> <!-- /.account-footer -->

    </div> <!-- /.account-wrapper -->



{% endblock %}

{% block stylesheets %}
    {#<link rel="stylesheet" href="{{ asset("bundles/usuario/css/login.css") }}">#}
    {#<link rel="stylesheet" href="{{ asset("bundles/usuario/css/animate-custom.css") }}">#}
{% endblock %}