{% block extends %}
    {{ "{% extends 'AppBundle:admin:layout.html.twig' %}" }}
{% endblock extends %}
    {{ "{% block id '" ~entity~ "' %} "}}
    {% block body %}
        {{ "{% block contenido -%}" }}
        {{ "{% embed '::portlet.html.twig' with {'titulo': 'Nuevo " ~  entity  ~ "' } %}" }}
        {{ "    {% block in_header %} "}}
        {% set hide_edit, hide_delete = true, true %}
        <div class='pull-right'>
            <div class="row">
                {% include 'crud/views/others/record_actions.html.twig' %}
            </div>
        </div>
        {{ "    {% endblock %}" }}

        {{ "        {% block cuerpo %} " }}
        <p>{#menseje acorde#}</p>
        {{ '
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="col-sm-offset-2 inner-actions">
                    <button title="Guardar" class="form-submit-button btn btn-sm btn-default btn-success" value="save_and_add" name="save_mode" type="submit">Guardar <span class="glyphicon glyphicon-ok"></span></button>
                    <button title="Guardar y Salir" class="form-submit-button btn btn-sm btn-default btn-info" value="save_and_close" name="save_mode" type="submit">Guardar y Salir <span class="glyphicon glyphicon-remove"></span></button>
                    <a class="page-close-button btn btn-sm btn-default" href="{{ path(\'' ~ route_name_prefix ~ '\')}}">Cerrar <span class="glyphicon glyphicon-remove"></span></a>
                </div>

            {{ form_end(form) }}
        ' }}



        {{ "{% endblock %} "}}
        {{ "{% endembed %} "}}

        {{ "{% endblock contenido %}" }}
    {% endblock body %}
