{% block extends %}
    {{ "{% extends '::layout.html.twig' %}" }}
{% endblock extends %}

{% block body %}
    {{ "{% block contenido -%}" }}
    {{ "{% embed '::portlet.html.twig' with {'titulo': 'Ver " ~  entity  ~ ": ' ~ entity} %}" }}
    {{ "    {% block in_header %} "}}
    {% set hide_edit, hide_delete = false, false %}
    <div class='pull-right'>
        <div class="row">
            {% include 'crud/views/others/record_actions.html.twig' %}
        </div>
    </div>
    {{ "    {% endblock %}" }}
    {{ "        {% block cuerpo %} " }}
    <p></p>

    <table class="table">
        <tbody>
        {%- for field, metadata in fields %}

            <tr>
                <th class="show-header">{{ field|capitalize }}</th>

                {%- if metadata.type in ['date', 'datetime'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}' }}</td>

                {%- elseif metadata.type in ['boolean'] %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ '? \'<span class="label label-success">Activo</span>\' : \'<span class=\"label label-default\">Desactivado</span>\'  }}' }}</td>

                {%- else %}

                    <td>{{ '{{ entity.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

                {%- endif %}

            </tr>

        {%- endfor %}

        </tbody>
    </table>


    {{ "{% endblock %} "}}
    {{ "{% endembed %} "}}
    {{ "{% endblock contenido %}" }}
{% endblock body %}
