{% extends "layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}


{% block subject %}Confirmación de Usuario{% endblock %}

{#{% block body_text %}#}
    {#{% autoescape false %}#}
    {#Hola {{ user.username }} !#}

    {#Podés habilitar tu cuenta en {{ confirmationUrl }}#}

    {#Saludos,#}
    {#Equipo de UTA Misiones#}
    {#{% endautoescape %}#}
{#{% endblock %}#}

{% block body_html %}

    <h1>Hola {{ user.username }} !</h1>

    Podés habilitar tu cuenta en:<br>
    {{ confirmationUrl }}
    <br>
    Tu clave actual es: <br>
    {{ user.plainPassword }}
    <br>te recomendamos que lo cambies.

    <br>    <br><br>
    Bienvenido!!!
    <h2>Equipo de UTA Misiones</h2>


{% endblock %}